body{ font-family: Helvetica;
  background-image: url("homebackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

#content {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;

}

#header {

  color: #afcc57;
  text-align: center;
  font-size: 40px;
}
#footer {
  background-color: #afcc57;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%
}
#table, th{
  width: 10px;
  text-align: left;
  padding-left: 0px;

}
#contactus {
  margin-left: 60px;
  margin-right: 60px;
  color: white;
  font-size: 20px;
  float: left;
}

html{
  box-sizing: border-box;
  font-size: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

h1{
  text-align: center;
  font-size: 2rem;
  padding: o 3rem;
}

#map{
  height: 60vh;
}

button{
  background-color: #bae634;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rbga(0, 0, 0, 0.2);
  padding: 20px 35px;
}

.modal_container{
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal_container.show{
  opacity:1;
  pointer-events: auto;
}

.modal{
  background-color: #9cb64f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 1200px;
  max-width: 100%;
  text-align: center;
}