html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
}
#map{
    top: 83px; 
    left: 0px; 
    height: 91vh;
}
.gm-style-iw-d{
    color: #000;
}
#pngdiv {
    
    white-space: nowrap;
    text-align: center;
    

}