html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #afcc57;
    color: white;
}

h1{
    text-align: center;
    font-size: 2rem;
    padding: o 3rem;
}

#map{
    height: 60vh;
}

.gm-style-iw-d{
    color: #000;
}